    <!-- Footer -->
    <div class="page-footer page-footer-2">
      <div class="footer-section02">
        <!-- map -->
        <div id="footer-map" class="footer-map">
         <iframe style="width: 100%; height: 100%; border: 0;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15955.125858078352!2d36.8332808!3d-1.3062601!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f115c857ad0b7%3A0xa3f8d1c9c2c9d176!2sMaxwell%20Cars%20Ltd!5e0!3m2!1sen!2ske!4v1668603547988!5m2!1sen!2ske" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        
        </div>
        <!-- /map -->
        <div class="container container-tablet-md container-tablet-nogutter">
          <div class="footer-section02__box01">
            <div class="footer-section02__title">Contact Info</div>
            <address class="contact-info-item">
              <div class="item-icon">
                <i class="icon icon-locate"></i>
              </div>
              <div class="item-description">
                Mariakani Gardens, South B, Nairobi					
              </div>
            </address>
            <address class="contact-info-item">
              <div class="item-icon">
                <i class="icon icon-phone"></i>
              </div>
              <div class="item-description">
                0721 416 971					
              </div>
            </address>
            <address class="contact-info-item">
              <div class="item-icon">
                <i class="icon icon-email"></i>
              </div>
              <div class="item-description">
                <a href="mailto:customerservice@maxwellcars.co.ke">customerservice@maxwellcars.co.ke</a>
              </div>
            </address>
            <div class="footer-section02__title">Opening Hours</div>
            <address class="contact-info-item">
              <div class="item-icon">
                <i class="icon icon-clock"></i>
              </div>
              <div class="item-description">
                Mon-Fri: <span>8:00 AM - 5:30 PM</span><br> Saturday: <span>8:00 AM - 5:30 PM</span><br> Sunday: <span>Closed</span>					
              </div>
            </address>
          </div>
        </div>
      </div>
      <div class="footer-section03">
        <div class="container container-tablet-md">
          <div class="copyright">© 2022 Maxwell Cars, <span class="clearfix visible-xs"></span>All Rights Reserved</div>
          <div class="footer-bottom-right">
            <div class="social-links">
              <ul>
                <li> 
                  <a class="icon icon-facebook-logo" target="_blank" href="https://www.facebook.com/maxwell.cars.5"></a>
                </li>
                <li> 
                  <a class="icon icon-instagram-logo" target="_blank" href="https://www.instagram.com/maxwellcars_ltd/"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="back-to-top" style="bottom: 15px;">
      <a href="#top">
      <span class="icon icon-arrow_up"></span>
      </a>
    </div>
    <div class="modal fade" id="appointmentForm">
      <div class="modal-dialog container">
        <div class="modal-content">
          <div class="modal-header"><a href="#" class="appointment" data-toggle="modal" data-target="#appointmentForm"><i class="icon-shape icon"></i>
            <span>Appointment</span>			</a>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-close"></i></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <h2 class="modal-title-main">Schedule <span class="color">Auto Service</span></h2>
              To schedule an appointment give us a call at  0721 416 971  or fill out the form below with your information and requested services.					
              <div class="divider divider-sm"></div>
              <div role="form" class="wpcf7" id="wpcf7-f710-o1" lang="en-US" dir="ltr">
                <div class="screen-reader-response">
                  <p role="status" aria-live="polite" aria-atomic="true"></p>
                  <ul></ul>
                </div>
                <form action="/car-repair-service-v4/car2/#wpcf7-f710-o1" method="post" class="wpcf7-form init" enctype="multipart/form-data" novalidate="novalidate" data-status="init">
                  <div style="display: none;">
                    <input type="hidden" name="_wpcf7" value="710" />
                    <input type="hidden" name="_wpcf7_version" value="5.6.2" />
                    <input type="hidden" name="_wpcf7_locale" value="en_US" />
                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f710-o1" />
                    <input type="hidden" name="_wpcf7_container_post" value="0" />
                    <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                  </div>
                  <div class="contact-form form-horizontal form-default">
                    <div class="row">
                      <div class="col-md-4">
                        <h5>Contact Info</h5>
                        <div class="form-group">
                          <span class="wpcf7-form-control-wrap" data-name="fname"><input type="text" name="fname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Your name" /></span>
                        </div>
                        <div class="form-group">
                          <span class="wpcf7-form-control-wrap" data-name="your-phone"><input type="text" name="your-phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Phone number" /></span>
                        </div>
                        <div class="form-group">
                          <span class="wpcf7-form-control-wrap" data-name="your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" aria-required="true" aria-invalid="false" placeholder="address@youremail.com" /></span>
                        </div>
                      </div>
                      <div class="divider visible-sm visible-xs"></div>
                      <div class="col-md-4">
                        <h5>Car Detail</h5>
                        <div class="form-group">
                          <span class="wpcf7-form-control-wrap" data-name="car-model"><input type="text" name="car-model" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Vehicle, Make and Model" /></span>
                        </div>
                        <div class="form-group">
                          <span class="wpcf7-form-control-wrap" data-name="car-year"><input type="text" name="car-year" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Year" /></span>
                        </div>
                        <div class="form-group">
                          <div class="select-wrapper">
                            <span class="wpcf7-form-control-wrap" data-name="select1">
                              <select name="select1" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required input-custom" aria-required="true" aria-invalid="false">
                                <option value="2001">2001</option>
                                <option value="2002">2002</option>
                                <option value="2003">2003</option>
                                <option value="2004">2004</option>
                                <option value="2005">2005</option>
                                <option value="2006">2006</option>
                                <option value="2007">2007</option>
                                <option value="2008">2008</option>
                                <option value="2009">2009</option>
                                <option value="2010">2010</option>
                              </select>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="divider visible-sm visible-xs"></div>
                      <div class="col-md-4">
                        <h5>Appointment Details</h5>
                        <div class="form-group">
                          <div class="datetimepicker-wrap">
                            <span class="wpcf7-form-control-wrap" data-name="date"><input type="text" name="date" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control datetimepicker" aria-required="true" aria-invalid="false" placeholder="Date" /></span>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="timepicker-wrap">
                            <span class="wpcf7-form-control-wrap" data-name="time"><input type="text" name="time" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control timepicker" aria-required="true" aria-invalid="false" placeholder="10 : 00" /></span>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group input-type-file">
                            <span class="wpcf7-form-control-wrap" data-name="your-file"><input type="file" name="your-file" size="40" class="wpcf7-form-control wpcf7-file form-control input-lg" accept=".jpg,.jpeg,.png" aria-invalid="false" /></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="divider divider-sm"></div>
                    <div class="row">
                      <div class="col-sm-4 col-md-3">
                        <button id="submit" class="wpcf7-form-control wpcf7-submit btn btn-border btn-invert"><span>Submit</span></button>
                      </div>
                      <div class="divider visible-xs"></div>
                      <div class="col-sm-8 col-md-9">
                        <div class="notes-custom">Please note that the date and time you requested may not be available. </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpcf7-response-output" aria-hidden="true"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="couponForm">
      <div class="modal-dialog container">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Coupon</h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" id="btn_save_close" class="btn btn-default" data-dismiss="modal"><span>Close</span></button>
            <button id="btn_save_and_close_for_ele" type="button" class="btn btn-primary"><span>Print </span></button>
          </div>
        </div>
      </div>
    </div>

