<!DOCTYPE html>
<!-- S-Ential Technologies website copyright  2021 -->
<html lang="en">
                <!-- Head module inserted below -->
        {% include head.html %}
    
  <body class="page-template-default page page-id-1520 wp-embed-responsive layout-2 theme-car-repair-services woocommerce-no-js elementor-default elementor-kit-2678 elementor-page elementor-page-1520">
	  
		<!-- Header module inserted below -->
        {% include header.html %}
	  
		<!-- Content -->
        {{ content }}
		

                <!-- footer module inserted below -->
        {% include footer.html %} 
        
        
                <!-- Scripts module inserted below -->
        {% include javascripts.html %}            
      
  </body>
</html>
